header {
    background-color: #0d3544
}
.container {
    color: #0d3544;
    background-image: url('../Images/Background_AnaliseCredito.png');
}

.form-control{
    padding-left:5px;
    padding-right:5px;
    border:1px solid #15b229;
}
footer {
    background-color: #0d3544
}
