@{
    ViewData["Title"] = "Home Page";
}
@section Styles  {
<link href="@Url.Content("~/css/IndexStyleSheet.css")" rel="stylesheet" type="text/css" />
}
<header></header>
<body>
    <div id="search-form">
        <h1 class="display-4">Bem Vindo!</h1>
        <p>Bem vindo ao Análise de Crédito</p>
    </div>
</body>
<footer></footer>
