@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<link href="@Url.Content("~/css/ResultStyleSheet.css")" media="screen" rel="stylesheet" type="text/css" runat="server" />
}
<head>
    <link rel="stylesheet" href="~/css/ResultStyleSheet.css" asp-append-version="true" />
</head>
<p>Use this page to detail your site's privacy policy.</p>
