@model AnaliseCreditoViewModel
 @* -------------------Mostrar parecer atualizado com as informações inseridades--------------------------------*@
@{
    ViewData["Title"] = "Parecer Realizado";
}
@section Styles  {
<link href="@Url.Content("~/css/ResultStyleSheet.css")" media="screen" rel="stylesheet" type="text/css" runat="server" />
}
<head>
    <link rel="stylesheet" href="~/css/ResultStyleSheet.css" asp-append-version="true" />
</head>

<div>
    <h2>Gerado!</h2>
</div>