@model AnaliseCreditoViewModel

@{
    ViewData["Title"] = "Buscar Cooperado";
}
@section Styles  {
<link href="@Url.Content("~/css/IndexAnaliseCreditoStyleSheet.css")" rel="stylesheet" type="text/css" />
}
<body background-color: #81d40c>
    <div class="container" style="margin-top: 8%;">
        <div class="col-lg-12">
            <div class="row">
                <div id="logo" class="text-center">
                    <h4>Digite aqui o CPF/CNPJ do Cooperado</h4>
                </div>
                <form asp-action="Result">
                    <div class="form-group">
                        <input asp-for="identificador" class="form-control" />
                        <input type="submit" value="Buscar" class="btn btn-info" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>