@model AnaliseCreditoViewModel

@{
    ViewData["Title"] = "Resultado da Consulta";
}
@section Styles  {
<link href="@Url.Content("~/css/ResultStyleSheet.css")" media="screen" rel="stylesheet" type="text/css" runat="server" />
}
<head>
    <link rel="stylesheet" href="~/css/ResultStyleSheet.css" asp-append-version="true" />
</head>
@if (Model.error == null)
{
    <div class="container">
        <form role="form">
            @* -------------------Identificação--------------------------------*@
            <h2>Identificação</h2>
            <div class="form-group col-12">
                <label for="code">Nome:</label>
                <input type="text" class="form-control" size="50" />
            </div>
            <div class="form-group col-12">
                <label for="code">Finalidade:</label>
                <input type="text" class="form-control" size="50" />
            </div>
            <div class="form-group col-12">
                <label for="code">Proposta da Alçada:</label>
                <input type="text" class="form-control" placeholder="Colocar o nivel da Alçada" size="40" />
            </div>
            <div class="form-row">
                <div class="form-group ">
                    <label style="padding-left:10px" for="ServidorPublico">Servidor Publico:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="ED., FD, MP" />
                        <input type="text" class="form-control" placeholder="ATIVO/APOSENTADO" />
                        <input type="text" class="form-control" placeholder="EFETIVO/COMISSIONADO" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label for="Renda Bruta">Renda Bruta</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for="Renda Liquida">Renda Liquida</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label for="Renda Bruta">Demonstrativo do Ano</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for="Renda Liquida">Observação</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label for="Renda Bruta">Demonstrativo do Ano</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for="Renda Liquida">Observação</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <br>
            @* -------------------Relacionamento--------------------------------*@
            <h2>Relacionamento</h2>
            <div class="form-group row">
                <div class="col-3">
                    <label for="Renda Bruta">Associado Desde:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-3">
                    <label for="Renda Liquida">Cota Capital</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6" style="text-align:center">
                    <label for="ServidorPublico">IAP:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Quantidade" value="@Html.DisplayFor(model => model.iAP.QuantidadeProduto)"/>
                        <input type="text" class="form-control" placeholder="Produtos">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label for="Renda Bruta">Margem Contribuição</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-8" style="text-align:center">
                    <label for="ServidorPublico">Cheque Especial</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Dias de Utilização" />
                        <input type="text" class="form-control" placeholder="Valor Utilizado" />
                        <input type="text" class="form-control" placeholder="Valor Contratado" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12" style="text-align:center">
                    <label for="ServidorPublico">Limite CCL</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Valor Contratado" />
                        <input type="text" class="form-control" placeholder="Valor Utilizado" />
                        <input type="text" class="form-control" placeholder="Vencimento" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="row g-2">
                    <label class="col-3">Cartão de Crédito</label>
                    <div class="col-3">
                        <input type="text" class="form-control" placeholder="Valor Contratado" />
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="Vencimento" />
                    </div>
                    <label class="col-3">Pré Aprovado</label>
                    <div class="col-3">
                        <input type="text" class="form-control" placeholder="Valor Contratado" />
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" placeholder="Valor Utilizado" />
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-3">
                    <label for="Renda Bruta">Total Empréstimos</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-3">
                    <label for="Renda Liquida">Portabilidade Salarial</label>
                    <input type="text" class="form-control" placeholder="Sim/Não/Solicitado">
                </div>
                <div class="col-3">
                    <label for="Renda Liquida">Pacote Tarifa</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-3">
                    <label for="Renda Liquida">Hist.Uso Modalidade</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Divida Total</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <br>
            @* -------------------Informações Externas--------------------------------*@
            <h2>Informações Externas</h2>
            <div class="form-group row">
                <div class="col-4">
                    <label for="Renda Bruta">Bacen a Pagar até 1 ano de:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-3">
                    <label for="Renda Liquida">Mensal</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-5" style="text-align:center">
                    <label for="ServidorPublico">Endividamento Total No Bacen</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Quantidade" />
                        <input type="text" class="form-control" placeholder="Produtos" />
                    </div>
                </div>
            </div>
            <div class="form-group col-12">
                <label for="code">Histórico</label>
                <input type="text" class="form-control" size="50" />
            </div>
            <div class="form-group row">
                <div class="col-3" style="text-align:center">
                    <label for="Renda Bruta">Receita</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-3" style="text-align:center">
                    <label for="Renda Bruta">Score</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6" style="text-align:center">
                    <label for="ServidorPublico">Serasa</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Data" />
                        <input type="text" class="form-control" placeholder="Valor" />
                        <input type="text" class="form-control" placeholder="Descrições" />
                    </div>
                </div>
            </div>
            <div class="form-group col-12">
                <label for="code">Consulta Processo TJ</label>
                <input type="text" class="form-control" size="50" />
            </div>
            <br>
            @* -------------------Enquadramento--------------------------------*@
            <h2>Enquadramento</h2>
            <div class="form-group row">
                <div class="col-12">
                    <label for="Renda Bruta">Cadastro Atualizado</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12">
                    <label for="Renda Liquida">CRL</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12">
                    <label for="Renda Liquida">Risco Da Operação</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12">
                    <label for="Renda Liquida">Linha de Crédito</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-8" style="text-align:center">
                    <label for="ServidorPublico">Condiçõs da Operação</label>
                    <div class="input-group mb-4">
                        <input type="text" class="form-control" placeholder="Valor Total" />
                        <input type="text" class="form-control" placeholder="Quatidade Parcelas" />
                        <input type="text" class="form-control" placeholder="Valor das Parcelas" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label for="Renda Bruta">Vencimento</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-4">
                    <label for="Renda Liquida">Capacidade de Pagamento</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-3">
                    <label for="Renda Liquida">Seguro Prestamista</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-3">
                    <label for="Renda Liquida">Idade</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-3">
                    <label for="Renda Bruta">Doc.Proposta Completa</label>
                    <input type="text" class="form-control" placeholder="Sim/Não">
                </div>
                <div class="col-3">
                    <label for="Renda Liquida">Ficha Cadastral Assinada</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-4">
                    <label for="Renda Liquida">Anexado na Plataforma de Atendimento?</label>
                    <input type="text" class="form-control" placeholder="Sim/Não">
                </div>
                <div class="col-6">
                    <label for="Renda Liquida">Questionario Conheça seu Cliente</label>
                    <input type="text" class="form-control" placeholder="Sim/Não">
                </div>
                <div class="col-6">
                    <label for="Renda Liquida">Anexado na Plataforma de Atendimento?</label>
                    <input type="text" class="form-control" placeholder="Sim/Não">
                </div>
                <div class="col-12">
                    <label for="Renda Bruta">Outras Condições</label>
                    <input type="text" class="form-control">
                </div>
            </div>

        </form>
    </div>
}

else
{
    <div class="container">
        <h2>Sem dados para o CPF encontrado</h2>
    </div>

}
